* {
    padding: 0;
    margin: 0;
    /*Indsæt font her*/ 
    font-family: centurygothic;
    z-index: 100;
    }

@font-face {
    font-family: centurygothic;
    src: url(./fonts/911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY.ttf);
  }
/*Her styles headeren*/
  header {
      z-index: 200;
      width: 100vw;
      height: 3.5rem;
      background-color: #0A0A0A;
      position: fixed;
      left: 0;
      top: 0;
      border-bottom: 2px solid #F58F4B;
  }

  .toplogo {
      width: 13rem;
      margin-top: 0.8rem;
      margin-left: 1.75rem;
  }

/* Menu lånt fra tidligere projekt men er modificeret*/


.sidenav {
    z-index: 250;
    height: 100vh;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0A0A0A;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
  }
  
  .sidenav a {
    text-transform: uppercase;
    letter-spacing: 0.35ch;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    z-index: 250;
    color: #F58F4B;
    position: absolute;
    top: -1.3rem;
    right: -0.8rem;
    font-size: 6ch;
    
  }

.burgerdiv {
  z-index: 0;
  position: absolute;
    right: 0.7rem;
    top: 0.9rem;
}

.burgerdiv div {
    width: 1.8rem;
    height: 2px;
    margin: 0.37rem;
    background-color: #F58F4B;    
}
  /*Menu end*/


  /* Index Start */


  .landing-grid {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 92%);
    background-color: #0A0A0A;
    margin-top: 3.5rem;
    padding-top: 10rem;
    padding-bottom: 60vh;
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    grid-template-areas: 
    ". . text text . ."
    ". logo logo logo logo ."
    ". more more more more .";
      }

  .landing-grid h2 {
      color: white;
      grid-area: text;
      font-size: 1.4em;
      font-weight: 100;
      text-align: center;
  }
.landing-grid img {
    grid-area: logo;
    width: 100%;
}

.landing-grid h3 {
    margin-top: 9rem;
    grid-area: more;
    color: #F58F4B;
    font-size: 2.5ch;
    font-weight: lighter;
    text-align: center;
}


/* Her styles pilen på siden, som er animeret til at pege ned ad, den indikerer at der er mere indhold længere nede på siden---------------------------------------------------------------------*/
.scrolldown{
	position: absolute;
	top: 78vh;
	margin-left: 50vw;	
	width: 6rem;
	height: 6rem;
	transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	animation: animate 1.5s linear infinite;
	opacity: 0;
}

.scrolldown span:nth-child(1){
	transform: translate(-15px,-15px);
	animation-delay: 0.4s;
}

.scrolldown span:nth-child(2){
	transform: translate(0,0);
	animation-delay: 0.2s;
}

.scrolldown span:nth-child(3){
	transform: translate(15px,15px);
 	animation-delay: 0s;
}

@keyframes animate{
	0%{
	top: -5px;
	left: -5px;
	opacity: 0;
	}
	25%{
	top: 0px;
	left: 0px;
	opacity: 1;
	}
	100%{
	top: 5px;
	left: 5px;
	opacity: 0;
	}
}


.solutions-grid {
  margin-top: 9rem;
  margin-bottom: 9rem;
  display: grid;
  grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
  grid-template-rows: auto;
  column-gap: 0.5rem;
  grid-template-areas: 
  ". heading heading heading heading ."
  ". description description description description ."
  "setup setup setup setup setup setup"
  ". . link link . .";
    

}

.solutions-grid h2 {
  grid-area: heading;
  color: #0A0A0A;
  font-size: 4.2ch;
  text-transform: capitalize;
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.solutions-grid p {
  grid-area: description;
}


.solutions-grid img {
grid-area: setup;
margin-top: 3rem;
width: 100%;
}

.primary-link {
  padding-top: 0.7rem;
  margin-top: 0.5rem;
  padding-bottom: 0.7rem;
  text-transform: capitalize;
  color: #F58F4B;
  text-decoration: none;
grid-area: link;
width: 100%;
border: 1px solid #0a0a0a;
text-align: center;
border-radius: 1rem;
font-weight: 500;
font-size: 2.5ch;
}

.primary-link-black {
  padding-top: 0.7rem;
  margin-top: 0.5rem;
  padding-bottom: 0.7rem;
  text-transform: capitalize;
  color: #F58F4B;
  text-decoration: none;
grid-area: link;
width: 100%;
border: 1px solid white;
text-align: center;
border-radius: 1rem;
font-weight: 500;
font-size: 2.5ch;
}

footer {
  clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
  width: 100%;
  background-color: #525252;
  height: 25rem;
}

    /* Index end */
  /* Portfolio Start */
  .portfolio-intro {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 92%);
    background-color: #0A0A0A;
    margin-top: 3.5rem;
    padding-top: 7rem;
    padding-bottom: 70vh;
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    grid-template-areas: 
    ". . heading heading . ."
    ". intro intro intro intro ."
    ". more more more more .";
      }

  .portfolio-intro h1 {
     color: white;
     grid-area: heading;
     text-align: center;
     font-size: 4ch;
     font-weight: 100;
    margin-bottom: 2rem;
  }

  .portfolio-intro p {
    color: white;
    grid-area: intro;
    font-weight: 100;
  }

  .portfolio-intro h3 {
    margin-top: 9rem;
    grid-area: more;
    color: #F58F4B;
    font-size: 2.5ch;
    font-weight: lighter;
    text-align: center;
  }

  .iso-project {
    margin-top: 6rem;
    margin-bottom: 9rem;
    grid-area: solutions;
    grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
    display: grid;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    grid-template-areas: 
    ". heading heading heading heading ."
    ". description description description description ."
    ". skills skills skills skills ."
    ". . isotheme isotheme . ."
    ". isoname isoname isoname isoname ."
    ". isoimg isoimg isoimg isoimg ."
    ". project project project project ."
    ". . link link . .";
  }

  .zealand-heading {
    grid-area: heading;
    color: #0a0a0a;
    font-size: 3.6ch;
    text-transform: capitalize;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }
  
  .zealand-info {
    grid-area: description;
  }

  .bold-skills {
    grid-area: skills;
    margin-top: 0.8rem;
    font-size: 1.2ch;
    font-weight: bold;
    color: #F58F4B;
  }

  .project-heading {
    margin-top: 5.5rem;
    grid-area: isotheme;
    text-align: center;
    font-size: 4ch;
    font-weight: bold;
  }

  .project-name {
  grid-area: isoname;
  text-align: center;
  color: #F58F4B;
  }

  .project-description {
grid-area: project;
margin-top: 2rem;
margin-bottom: 1rem;
font-size: 1.4ch;
  }
  
  
  .projectspic {
  grid-area: isoimg;
  margin-top: 1rem;
  width: 100%;
  }
  
  .balletto-project {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 92%);
    background-color: #0a0a0a;
    margin-top: 6rem;
    padding-top: 9rem;
    padding-bottom: 14rem;
    grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
    display: grid;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    grid-template-areas: 
    ". heading heading heading heading ."
    ". description description description description ."
    ". skills skills skills skills ."
    ". . isotheme isotheme . ."
    ". isoname isoname isoname isoname ."
    ". isoimg isoimg isoimg isoimg ."
    ". project project project project ."
    ". . link link . .";
  }

  .project-heading-black {
    color: white;
    margin-top: 5.5rem;
    grid-area: isotheme;
    text-align: center;
    font-size: 4ch;
    font-weight: bold;
  }


  .project-description-black {
    color: white;
grid-area: project;
margin-top: 2rem;
margin-bottom: 1rem;
font-size: 1.4ch;
  }

  .volta-project {
    margin-bottom: 9rem;
    padding-bottom: 3rem;
    grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
    display: grid;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    grid-template-areas: 
    ". heading heading heading heading ."
    ". description description description description ."
    ". skills skills skills skills ."
    ". . isotheme isotheme . ."
    ". isoname isoname isoname isoname ."
    ". isoimg isoimg isoimg isoimg ."
    ". project project project project ."
    ". . link link . .";
  }


  .video-projects {
    clip-path: polygon(0% 10%, 100% 0%, 100% 89.5%, 0% 100%);
    background-color: #0a0a0a;
    margin-top: 6rem;
    padding-top: 9rem;
    padding-bottom: 18rem;
    margin-bottom: -8rem;
    grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
    display: grid;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    grid-template-areas: 
    ". heading heading heading heading ."
    ". description description description description ."
    ". skills skills skills skills ."
    ". fullofwar fullofwar fullofwar fullofwar ."
    ". video video video video .";
  }

  .video-heading {
    grid-area: heading;
    color: white;
    margin-top: 5.5rem;
    text-align: center;
    font-size: 4ch;
    font-weight: bold;  
  }

  .video-info {
    grid-area: description;
    color: white;
  }

  .video-skills {
    grid-area: skills;
    color: #F58F4B;
    margin-top: 0.7rem;
  }

  .fullofwar {
    grid-area: fullofwar;
    margin-top: 5rem;
    width: 100%;
    height: 11rem;
  }

  .video-project {
    grid-area: video;
    margin-top: 5rem;
    height: 11rem;
    width: 100%;
  }





  


  /* Portfolio end */

  /* CV Start */


  /* CV end */

  /* About Start */

  .about {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 92%);
    margin-top: 3.5rem;
    padding-top: 3rem;
    padding-bottom: 24rem;
    background-color: #0a0a0a;
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    grid-template-areas: 
    ". heading heading heading heading ."
    ". . mypic mypic . ."
    ". name name name name ."
    ". age age age age ."
    ". where where where where ."
    ". counter counter counter counter ."
    ". more more more more .";
  }

.about h1 {
  grid-area: heading;
  color: white;
  text-align: center;
  font-size: 4.5ch;
}

.about img {
  margin-top: 3rem;
  grid-area: mypic;
  width: 100%;
  margin-bottom: 3rem;
}
.name {
  grid-area: name;
  color: white;
  font-size: 1.5ch;
}

.where {
  grid-area: where;
  color: white;
  font-size: 1.5ch;

}
  .about-description { 
    color: white;
    font-size: 1.5ch;
  }

  #daybox {
    color: #F58F4B;
    grid-area: counter;
    margin-left: 0.3rem;
    font-size: 1.5ch;

  }
  .age {
    grid-area: age;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .year {
    color: #F58F4B;
    font-size: 1.5ch;
    margin-right: 0.2rem;

  }

  .about h2 {
    margin-top: 3rem;
    grid-area: more;
    font-size: 3ch;
    font-weight: normal;
    color: #F58F4B;
    text-align: center;
  }
  .about-more {
    margin-top: 9rem;
    margin-bottom: 9rem;
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    grid-template-areas: 
    ". heading heading heading heading ."
    ". description description description description ."
    "setup setup setup setup setup setup"
    ". . link link . .";
  }
  .about-more h2 {
    grid-area: heading;
    color: #0A0A0A;
    font-size: 4.8ch;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }
  
  .about-more p {
    grid-area: description;
    font-size: 1.6ch;
  }
  
  
  .about-more img {
  grid-area: setup;
  margin-top: 3rem;
  width: 100%;
  }
  /* About end */
  /* Contact Start */  
  .contact {
    clip-path: polygon(0% 0%, 100% 0%, 100% 89.5%, 0% 95%);

      background-color: #0A0A0A;
      margin-top: 3.5rem;
      padding-top: 5rem;
      padding-bottom: 60vh;
      display: grid;
      grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
      grid-template-rows: auto;
      column-gap: 0.5rem;
      grid-template-areas: 
      ". . heading heading . ."
      ". info info info info ."
      ". more more more more ."
      ". write write write write ."
      ". form form form form .";
      margin-bottom: -14rem;
  }

  .contact-heading {
    color: white;
    grid-area: heading;
    text-align: center;
    font-size: 4ch;
  }
  .contact-description {
    color: white;
    grid-area: info;
    margin-top: 4rem;
  }

  .contact-me {
    color: #F58F4B;
    grid-area: more;
    text-align: center;
    font-weight: lighter;
    padding-top: 5.5rem;
    font-size: 3ch;
  }

  .write {
    color: white;
    grid-area: write;
    text-align: center;
    margin-top: 30rem;
    font-size: 4.4ch;
    font-weight: lighter;
  }

  .contact-form {
    grid-area: form;
    margin-top: 5rem;
    color: white;
  }

  .contact-form input {
    width: 100%;
    border-radius: 0.4rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
  }
  .contact-form textarea {
    width: 100%;
    text-decoration: none;
    border-radius: 0.4rem;
    padding-top: 0rem;
    padding-bottom: 5rem;
    
  }

  .contact-form p {
    color: #F58F4B;
    margin-bottom: 0.3rem;
  }

  .contact-form button {
    margin-top: 1rem;
    background-color: #0a0a0a;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-transform: capitalize;
    color: #F58F4B;
    text-decoration: none;
  width: 100%;
  border: 1px solid white;
  text-align: center;
  border-radius: 0.7rem;
  font-weight: 500;
  font-size: 1.9ch;

  }





  /* Contact end */

  /*Styles til desktop*/



